/* banner */
.banner_layout {
  position: relative;
  height: 90vh;
}

.banner_layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
}

.banner_content h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 5.6px;
  text-align: center;
  max-width: 900px;
}

.banner_btn {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #0788ff;
  border-radius: 11px;
  text-transform: uppercase;
  padding: 13px 30px;
  margin-top: 20px;
  transition: 0.5s ease-in-out;
}
.banner_btn:hover {
  background-color: #0788ff;
}

.banner_swiper .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 100%;
}

.banner_swiper .swiper-pagination-bullet-active {
  background-color: #fdc535 !important;
}

/* banner */

/* services */

.services_abt_bg {
  background-color: #171619;
  background-image: url("assets/about_bg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service_card {
  margin-top: 50px;
}

.service-card-body {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  padding: 50px;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
  transition: 0.5s ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.service-card-body p {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  max-width: 250px;
}

.service-card-body:hover {
  background-color: #000;
  border: 2px solid #0788ff;
}

.service-card-body:hover img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(87%) saturate(1710%)
    hue-rotate(192deg) brightness(99%) contrast(107%);
}

.serrvices .swiper-pagination {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.serrvices .swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
}

.serrvices .swiper-pagination-bullet-active {
  background-color: #0788ff;
}

/* services */

/* about us */
.about_us {
  background-color: #d9d9d90d;
  position: relative;
}

.about_us_content {
  padding: 50px 0;
}

.about_us_content button {
  text-transform: uppercase;
  margin-top: 15px;
}

/* plans */
.plans {
  background-color: #171619;
  background-image: url("assets/plans_layers.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.plans_content span {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  font-family: "ITC Avant Garde Gothic";
}

.plans_content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 69px;
}
.plans_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.plans_content button {
  margin-top: 15px;
}

.price_card_bg {
  background-color: #00000080;
  padding: 30px 35px;
  width: auto;
  height: 100%;
  border-radius: 17px;
  transition: 0.5s ease-in-out;
}

.price-discounted {
  color: #fff;
  font-family: "ITC Avant Garde Gothic";
  font-size: 17px;
}

.price_card_bg h3 {
  color: #fff;
  font-size: 24px;
}
.price {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.price span {
  font-size: 16px;
}

.price_card_bg hr {
  border-top: 1px solid #fff;
  opacity: 100;
  margin: 1.5rem 0;
}

.plans_desc {
  list-style: none;
}
.plans_desc li {
  color: #fff;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.plans_desc li svg {
  height: 20px;
  width: 20px;
  background-color: #fdc535;
  color: #000;
  border-radius: 10px;
  padding: 3px;
  margin-right: 14px;
  transition: 0.5s ease-in-out;
}

.checkout-btn {
  background-color: transparent;
  color: #fff;
  padding: 10px 35px;
  border: 1px solid #fff;
  margin-top: 30px;
  border-radius: 27px;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.price_card_bg:hover {
  background-color: #000;
}

.price_card_bg:hover svg {
  background-color: #0788ff;
}
.price_card_bg:hover .checkout-btn {
  background-color: #0788ff;
  border: 1px solid #0788ff;
}

/* plans */

/* vision */
.vision {
  background-color: #171820;
}
.vision_content {
  margin-left: 50px;
}

.vision_content button {
  margin-top: 15px;
  text-transform: uppercase;
}

.btm_content {
  padding: 80px 0 50px;
  max-width: 970px;
  margin: 0 auto;
}
.btm_content .lower_quote svg,
.btm_content .upper_quote svg {
  fill: #fdc535;
  color: #fdc535;
  margin: 0 5px;
}
.btm_content .lower_quote svg {
  transform: rotateZ(180deg);
}
.btm_content p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.ceo_name {
  font-family: "Lexend Zetta", sans-serif;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 18px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.designaton {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

/* vision */

/* team */
.our_team {
  background-color: #151723;
  background-image: url("assets/Privacy_Policy_Bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 70px 0;
}
.team_card {
  display: grid;
  /* justify-content: center;
  align-items: center; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 80px;
  margin-bottom: 55px;
}
.teams h2 {
  margin-bottom: 55px;
}

.card_outer {
  background-color: #000;
  width: 100%;
  position: relative;
  padding: 20px 15px 25px 15px;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}

.card_outer:hover {
  background-color: #0788ff;
}

.member_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -45px;
}
.member_img img {
  border-radius: 12px;
}

.card_icons,
.member_name,
.member_designation {
  margin-top: 10px;
}
.progress-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 55px 55px;
  height: 400px;
  margin-bottom: 70px;
  margin-top: 50px;
  border-radius: 30px;
  position: relative;
}

.progress-step {
  width: 25%;
  height: 10px;
}

.dot {
  width: 50px;
  height: 50px;
  background: #fcd535;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot_inner {
  height: 25px;
  width: 25px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 15px;
}

.dot_before,
.dot_after {
  position: absolute;
  text-align: center;
  z-index: 1;
}

.dot_before {
  top: 30%;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  transform: translateY(-50%);
}
.dot_after {
  bottom: 30%;
  color: #fff;
  max-width: 268px;
  font-size: 18px;
  transform: translateY(50%);
}

.dot_v4 {
  background-color: #137dbb;
}

.s_1 {
  background-color: #fcd535;
}
.s_2 {
  background: linear-gradient(90deg, #fcd535 0%, #a7b566 35%);
}
.s_3 {
  background: linear-gradient(90deg, #fcd535 0%, #a7b566 0%, #529ccc 35%);
}
.progress_content {
  color: #fff;
}
@media only screen and (max-width: 1600px) {
  .banner_layout {
    height: 80vh;
  }
  .banner_content h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1400px) {
  .banner_layout {
    height: 68vh;
  }
  .banner_content h1 {
    font-size: 40px;
  }
  .banner_btn {
    font-size: 16px;
    padding: 11px 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .banner_content h1 {
    max-width: 600px;
    font-size: 32px;
  }
}
@media only screen and (max-width: 991px) {
  .banner_content h1 {
    font-size: 28px;
  }
  .banner_btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .banner_content h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 575px) {
  .banner_layout {
    height: 60vh;
  }
  .banner_content h1 {
    font-size: 20px;
  }
  .banner_btn {
    font-size: 14px;
  }
}
